html {
	background: url('/assets/images/piperbg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #20232D;
	color: #fff;
}

body {
	background-color: transparent;
}

/* Light blue would be #87CCDA */
::selection {
	background: #447492;
}

::-moz-selection {
	background: #447492;
}

a::selection {
	color: #FFF;
}

a::-moz-selection {
	color: #FFF;
}

a {
	color: #447492;
	text-decoration: none;
	transition: all .1s linear 0s;
	-moz-transition: all .1s linear 0s;
	-webkit-transition: all .1s linear 0s;
	-o-transition: all .1s linear 0s; 
}

a:hover {
	color: #87CCDA;
}

.content {
	margin-top: 4em;
}

.logo {
	max-width: 500px;
}

.logo-area {
	text-align: center;
}

.center {
	max-width: 1080px;
	margin-right: auto;
	margin-left: auto;
}

.cta-area {
	text-align: center;
	margin-top: 2em;
}

.cta-area .btn-outline-primary {
	margin-right: 1em;
}

.btn {
	border-radius: 0;
}

.btn:focus, btn.focus {
	outline: 0;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.btn-outline-primary {
	color: #fff;
    background-image: none;
    background-color: transparent;
    border-color: #fff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #87CCDA;
}

.btn-secondary {
	color: #FFF;
    background-color: #87CCDA;
    border-color: #87CCDA;
}

.btn-secondary:hover {
	color: #FFF;
    background-color: #447492;
    border-color: #447492;
}

.social-icons {
	padding: 0 5%;
	display: inline-block;
	text-align: center;
	width: 100%;
	z-index: 9;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 2em;
}

.social-icons a {
	color: #fff;
	width: 40px;
	line-height: 40px;
	letter-spacing: 0;
	background: transparent;
	font-size: 1em;
	font-weight: 300;
	height: 40px;
	display: inline-block;
	text-align: center;
	margin-right: 2px;
	border: none;
	-webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	-moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	-ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	-o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.social-icons a:hover {
	color: #87CCDA;
	background: transparent;
}

.social-icons i {
	color: #fff;
	-webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	-moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	-ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	-o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
	transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.social-icons a:hover i {
	color: #87CCDA;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.modal-content {
	text-align: center;
    color: #fff;
    background: #20232D;
}

.modal-header {
	display: block;
	border-bottom: 0 none;
}

button.close {
	color: #fff;
	text-shadow: none;
	opacity: 1;
}

button.close:hover {
	color: #fff;
	opacity: 1;
}

.modal-footer {
	border-top: 0 none;
	display: block;
}

.form-inline {
	display: block;
}

.ladda-button {
	background-color: #87CCDA;
}

@media (max-width: 768px) {
	.logo {
		max-width: 250px;
	}
}